---
import Layout from '../layouts/Layout.astro';
---

<Layout title="画像生成AI情報">
  <h1>画像生成AI情報</h1>
  <p>Midjourneyなどの画像生成AIに関する最新情報をまとめています。</p>

  <h2>直近のニュース</h2>
  <ul>
    <li>コクヨ、画像生成AIを活用し空間設計業務を支援する「オフィススタイルAI」の社内運用を開始。(11月より)</li>
    <li>パナソニックHD、AIが自らの生成結果を振り返って改善する画像生成技術「Reflect-Dit」を開発。(2025/10/17)</li>
    <li>グラムス、EC販促を支援する動画・画像生成AIアプリ「heroshot」の提供を開始。(2025/10/20)</li>
  </ul>
</Layout>
